<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Student Engagement Prediction</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="static/assets/img/school.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/css/main.css" rel="stylesheet">

    <style>
        .big-font {
            font-size: 40px !important;
            color: #333333;
            text-align: center;
            font-weight: bold;
        }
        .footer {
            text-align: center;
            margin-top: 50px;
            font-size: 12px;
            color: #888888;
        }
    </style>
</head>

<body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">
            <a href="index.html" class="logo d-flex align-items-center me-auto">
                <img src="static/assets/img/school.png" alt="Logo" class="logo-img" style="height: 40px;">
                <h1 class="sitename">Student Engagement</h1>
            </a>

           <!--<a class="btn-getstarted" href="/classify_images">LogIn</a>-->
        </div>
    </header>

    <main class="main">
        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">
            <img src="static/assets/img/TAILLE.png" alt="" data-aos="fade-in">
            <div class="container">
                <h2 data-aos="fade-up" data-aos-delay="100">Identifying and Predicting Student Engagement and Motivation using Artificial Intelligence</h2>
                <p data-aos="fade-up" data-aos-delay="200">Today, understanding the level of student engagement is essential for maximizing their academic success. AI enables the capture and analysis of emotional and behavioral signals, providing teachers with valuable tools to adjust their teaching methods in real time</p>
                <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
                    <a href="/classify_images" class="btn-get-started">Predict image</a>

                    <a href="/classify_video" class="btn-get-started">Predict video</a>

                    <a href="/real-time" class="btn-get-started">Real time </a>
                </div>
            </div>
        </section>


</body>

</html>
